body{

}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.main{
    border: solid 1px gray;
    border-radius: 20px;
}

.header{
    padding-left: 30px;
    padding-top: 20px;
}

.sheet-body{
    padding: 30px;
}

.border{
    border: solid 1px gray;
}
.border-red{
    border: solid 1px rgb(102, 8, 8);
}

.ability-div{
    width: 110px;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 10px;
}
.ability-div input{
    width: 50px;
    font-size: large;
    align-self: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.status-div{
    width: 70px;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 10px;
}
.status-div input{
    width: 50px;
    font-size: large;
    align-self: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.row-element{
    padding-bottom: 20px;
}

.left-column{
    padding-right: 50px;
}

